---
layout: slide
title: Brownie Points Postmortem
---

section.center
  h1 👋

section.center
  p: a(href="http://gsamokovarov.com") @gsamokovarov

section.center
  img.inline src="images/me.png"

section.center data-background="#BF5A5B"
  h2.white Evening!

section.center data-background="#BF5A5B"
  img.inline src="images/logo.png"

section.center
  p: a(href="http://rubybanitsa.com") rubybanitsa.com

section.center
  p: a(href="http://twitter.com/rubybanitsa") @rubybanitsa

section.center data-background="#FCD846"
  a.fragment href="https://balkanruby.com"
    img.inline src="images/balkan.svg"

section.center data-background="#FCD846"
  p Coming soon to the Balkan near you!

section.center data-background="#FCD846"
  p To be held in Generator...

section.center data-background="#FCD846"
  h2 👉🏻
section.center data-background="#FCD846"
  h2 👂🏻
section.center data-background="#FCD846"
  h2 🐶
section.center data-background="#FCD846"
  h2 🐩
section.center data-background="#FCD846"
  h2 <strike>🐩</strike> 
section.center data-background="#FCD846"
  h2 🐕
section.center data-background="#FCD846"
  h2 Woof!
section.center data-background="#FCD846"
  h2 🤬
section.center data-background="#FCD846"
  h2 🍗
section.center data-background="#FCD846"
  h2 🏃🏻‍

section data-background="#000"
section.center data-background="#000"
  p.white Today is a great day!
section.center data-background="http://hipsterhitler.com/comics/41_4-20.jpg"
  a(href="http://hipsterhitler.com/comics/41_4-20.jpg") &nbsp;
section.center data-background="#000"
  p.white No!
section data-background="https://78.media.tumblr.com/800302addb5dda225f58bec3161aa389/tumblr_nb3jfxJJIt1rrx588o1_250.gif"
section data-transition="fade-in" data-background="https://78.media.tumblr.com/800302addb5dda225f58bec3161aa389/tumblr_nb3jfxJJIt1rrx588o1_250.gif"
section data-transition="fade-in" data-background="https://media2.giphy.com/media/tL5HmgfZi0Qow/giphy.gif"
section.center data-background="https://media2.giphy.com/media/tL5HmgfZi0Qow/giphy.gif"
  p.white.shadow You ate from the Banitsa, right?
section.center data-background="https://media2.giphy.com/media/tL5HmgfZi0Qow/giphy.gif"
  h2.shadow 👌🏻
section.center
  img.inline src="https://media1.giphy.com/media/VGkq1DuMTyMg0/giphy.gif"

section.center data-background="#E54660"
  h1.white Brownie Points <span class="fragment">Postmortem</span>

section.center
  h2.fragment Postmortem
  p.fragment
    | /pəʊs(t)ˈmɔːtəm/
  blockquote.fragment
    | an analysis or discussion of an event held soon after it has occurred,
    | especially in order to determine why it was a failure.

section data-background="#000"
section.center data-background="#000"
  p.white We won't do nothing of that!

section.center
  p But since the project is over...
section.center
  p ahem
section.center
  p
    | (caugh)
section.center
  p We'll go, over it!

section.center data-background="#E54660"
  h2.white.fragment Brownie Points

section
  h2 Brownie Points
  p A trivia game that incentives kids to learn math early in their life.

section
  h2 Brownie Points
  p Solving problems earn you a currency called, ahem, brownie points.

section
  h2 Brownie Points
  p You can use BP+ to buy games.

section.center data-background="#000"
  p.white Okay, okay...
section.center data-background="#000"
  p.white You can use it to persuade your parents to buy you that video game.
section.center data-background="#000"
  p.white That's not how even imaginary economy works...
section.center data-background="#000"
  p.white There is a historical reason why we tried to bend the world like this.

section.center
  h2.shadow 😅

section
  h2 Brownie Points
  p The questions come from standardized math curriculum, so they are relevant to what your (US) kids learns in school.

section.center
  p: a href="http://www.corestandards.org/" corestandards.org

section
  h2 Brownie Points
  p They have pretty pictures and are generally fun.

section
  h2 Brownie Points
  p The hack to the game is to solve kindergarten problems all the time!

section.center
  img.inline src="https://media.giphy.com/media/MFKOGabPNbKxO/giphy.gif"

section.center data-background="#E54660"
  h2.white.fragment The Stack

section.center
  p Rails 5.0.1
section.center
  p Postgres 9.4
section.center
  p Angular 2

section.center data-background="#000"
  p.white That's it!

section data-background="https://media.giphy.com/media/nVK7SUuUJKdRm/giphy.gif"
