---
layout: slide
title: Disaster Coping
---

section.center
  h1 Yo!

section.center
  p: a(href="http://gsamokovarov.com") @gsamokovarov

section.center data-background="#BF5A5B"
  h2.white Evening!

section.center data-background="#BF5A5B"
  img.inline src="images/logo.png"

section.center
  p: a(href="http://rubybanitsa.com") rubybanitsa.com

section.center
  p: a(href="http://twitter.com/rubybanitsa") @rubybanitsa

section

section data-background="images/ml1.jpg"
section data-background="images/ml2.jpg"
section data-background="images/p1.jpg"
section data-background="images/kl1.jpg"
section data-background="images/p2.jpg"
section data-background="images/what.jpg"
section.center data-background="images/what.jpg"
  h1.shadow Disaster Coping

section.center
  p First, let me give you some...

section.center data-background="#3498db"
  h2.white Context

section.center data-background="#3498db"
  img.inline src="images/bh-logo.jpg"

section.center data-background="#3498db"
  p.white Small and profitable.

section.center data-background="#3498db"
  p.white Ain't gonna change the world.

section.center data-background="#3498db"
  p.white Won't make the people better.

section.center data-background="#3498db"
  p.white But!

section.center data-background="#3498db"
  p.white Will resell you Digital Ocean servers for ฿.

section.center data-background="#3498db"
  p.white Will resell you Packet servers for ฿.

section.center data-background="#000"
  h2.white Standard Stack

section.center
  p Rails 5.1

section.center
  p Postgres 9.6

section.center
  p Redis

section.center
  p Sidekiq

section.center data-background="#000"
  h2.white Heroku

section.center
  p() [web]  Standard-2X (1 GB RAM)

section.center
  p() [jobs] Standard-2X (1 GB RAM)

section.center
  p() [clock] Standard-1X (512 MB RAM)

section.center
  p() [redis] Hobby-Dev - Free

section.center data-background="#000"
  h2.white Database Labs

section.center
  p() [db] 512MB RAM droplet

section.center data-background="#000"
  h2.white Remember those numbers...

section.center
  p [db] 512MB RAM droplet

section.center
  h1 ☝️

section.center data-background="#000"
  h2.white t - 1.week

section.center
  h1 💡
section.center
  h1 ฿

section.center data-background="#000"
  h2.white t - 1.minute

section.center
  h1 ☕️
section.center
  h1 👉
section.center
  h1 🕐
section.center
  h1 🕑
section.center
  h1 🕒
section.center
  h1 🕓
section.center
  h1 🕔
section.center
  h1 🕕
section.center
  h1 🕖
section.center
  h1 🕗
section.center
  h1 🕘
section.center
  h1 🕙
section.center
  h1 🕚
section.center
  h1 🕛

section.center data-background="#000"
  h2.white t + 1.hour

section.center data-background="#000"
  h1 😱
section.center data-background="#000"
  h1 🤢
section.center data-background="#000"
  h1 🤮
section.center data-background="#000"
  h1 🔥

section.center
  p Did I mentioned it was Saturday?

section.center
  img.inline.fragment src="images/troll.png"

section.center data-background="#000"
  h2.white t + 2.hours

section.center data-background="#000"
  h1 🔥
section.center data-background="#000"
  h1 🚨
section.center data-background="#000"
  h1 🔥
section.center data-background="#000"
  h1 🚨
section.center data-background="#000"
  h1 🔥
section.center data-background="#000"
  h1 🚨

section.center data-background="#000"
  h2.white t + 3.hours

section.center data-background="#000"
  h1 🤔
section.center data-background="#000"
  h1 💡
section.center data-background="#000"
  h1 🔥

section.center data-background="#000"
  h2.white t + 4.hours

section.center data-background="#000"
  h1 🚧
section.center data-background="#000"
  h1 🛠
section.center data-background="#000"
  h1 🔧

section.center data-background="#000"
  h2.white t + 5.hours

section.center data-background="#000"
  h1 🔥
section.center data-background="#000"
  h1 🔥
section.center data-background="#000"
  h1 😓

section.center data-background="#000"
  h2.white t + 6.hours

section.center data-background="#000"
  h1 🙏
section.center data-background="#000"
  h1 🌦
section.center data-background="#000"
  h1 🌂

section.center data-background="#000"
section.center data-background="#111"
section.center data-background="#222"
section.center data-background="#333"
section.center data-background="#444"
section.center data-background="#555"
section.center data-background="#666"
section.center data-background="#777"
section.center data-background="#888"
section.center data-background="#999"
section.center data-background="#AAA"
section.center data-background="#BBB"
section.center data-background="#CCC"
section.center data-background="#DDD"
section.center data-background="#EEE"
section.center data-background="#FFF"
section.center
  h2 t + 12.hours

section.center
  h1 ☀️
section.center
  h1 🌠
section.center
  h1 ⁉️
